# Project1: Investigate a Relational Database
# https://www.postgresqltutorial.com/postgresql-getting-started/postgresql-sample-database/

# Project2: Explore US Bikeshare Data
# https://motivateco.com/